* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 1920px;
	height: 2783px;
	background-color: #060606;
}

.wrapper {
	margin-left: 470px;
	margin-right: 470px;
}

.header {
	width: 980px;
	height: 85px;
	display: flex;
}

.header-logo {
	width: 257px;
	height: 50px;
	padding-top: 28px;
	padding-bottom: 11px;
}

.header-icon-1 {
	padding-top: 32px;
	padding-bottom: 18px;
	margin-left: 90px;
	color: #f0e394;
}

.header-text-1--bold {
	font-family: 'PT Sans Bold', 'Arial'; 
	font-size: 24px;
	color: #ededed;
	padding-top: 34px;
	margin-left: 10px;
}

.header-text-1--light {
	font-family: 'PT Sans Regular', 'Arial'
	font-size: 18px;
	color: #ededed;
	padding-top: 41px;
	margin-left: 11px;	
}

.header-icon-2 {
	padding-top: 30px;
	color:#f0e394;
	margin-left: 30px;
}

.header-text-2--bold {
	font-family: 'PT Sans Bold', Arial; 
	font-size: 24px;
	color: #ededed;
	padding-top: 34px;
	margin-left: 10px;
}

.header-text-2--light {
	font-family: 'PT Sans Regular', 'Arial'
	font-size: 18px;
	color: #ededed;
	padding-top: 41px;
	margin-left: 11px;
}

.container-1 {
	display: flex;
}

.content-1 {
	width: 980px;
	height: 590px;
}

.content-2 {
	width: 980px;
	height: 590px;
}

.content-3 {
	width: 980px;
	height: 590px;
}

.content-1-text-1 {
	font-family: 'Roboto Condensed';
	font-size: 60px;
	color: #e8d98b;
	padding-top: 21px;
	padding-bottom: 10px;
	letter-spacing: 4px;
}

.content-1-text-2 {
	font-family: 'Roboto Medium';
	font-size: 22px;
	display: block;
	color: #ffffff;
	padding-top: 19px;
}

.content-1-text-3 {
	font-family: 'PT Sans Regular';
	font-size: 16px;
	color: #e7e7e7;
	display: block;
	padding-left: 35px;
	padding-top: 25px;
}

.content-1-text-4 {
	font-family: 'PT Sans Regular';
	font-size: 16px;
	color: #e7e7e7;
	display: block;
	padding-left: 35px;
	padding-top: 25px;
}

.content-1-text-5 {
	font-family: 'PT Sans Regular';
	font-size: 16px;
	color: #e7e7e7;
	display: block;
	padding-left: 35px;
	padding-top: 25px;
}

.content-1-text-6 {
	font-family: 'PT Sans Regular';
	font-size: 16px;
	color: #e7e7e7;
	display: block;
	padding-left: 35px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.content-2-img-1 {
	display: block;
	padding-top: 370px;
}


.content-2-text-1 {
	display: block;
	margin-top: 19px;
	color: #ffffff;
	font-family: 'PT Sans Narrow';
}

.content-3 {
	display: block;
	position: relative;
}

.timer {
	display:flex;
}

.content-3-image-1 {
	padding-top: 20px;
}

.content-3-image-2 {
	padding-top: 20px;
	margin-left: 5px;

}

.content-3-image-3 {
	padding-top: 20px;
	margin-left: 5px;
}

.content-3-text-1 {
	position: absolute;
	font-family: 'PT Sans NarrowBold';
	color: #3d3736;
	font-size: 50px;
	top: 19px;
	left: 12px;
}

.content-3-text-2 {
	position: absolute;
	font-family: 'PT Sans NarrowBold';
	color: #000000;
	font-size: 50px;
	top: 19px;
	left: 65px;
}

.content-3-text-3 {
	position: absolute;
	font-family: 'PT Sans NarrowBold';
	color: #000000;
	font-size: 50px;
	top: 19px;
	left: 118px;
}

.total {
	font-family:'PT Sans Narrow';
	color: #ffffff;
	font-size: 19px;
	margin-left: 21px;
	padding-top: 26px;
}

.container-2 {
	position: relative;
	background-image: url(Images/bg.png); width: 980px; height: 450px;
}

.container-2-text {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.container-2-text-1 {
	font-family: 'PT Sans NarrowBold';
	color: #ffffff;
	font-size: 40px;
	margin-left: 220px;
}

.container-2-text-2 {
	font-family: 'PT Sans NarrowBold';
	color: #fc481a;
	font-size: 40px;
	margin-left: 7px;
}

.container-2-text-3 {
	font-family: 'PT Sans Narrow';
	color: #ffffff;
	font-size: 40px;
	margin-left: 11px;
}

.container-2-text-4 {
	font-family: 'PT Sans NarrowBold';
	color: #fc481a;
	font-size: 40px;
	margin-right: 2px;
	margin-left: 11px;
}

.container-2-text-5 {
	font-family: 'PT Sans NarrowBold';
	color: #ffffff;
	font-size: 40px;
	margin-right: 220px;
}

.two-question-text {
	margin-left: 200px;
	margin-top: 22px;
}

.two-question-text-1 {
	font-family: 'PT Sans Regular';
	font-size: 24px;
	color: #ffffff;
	text-align: center;
}

.container-2-text-one{
	position: absolute;
	left: 294px;
	top: 270px;
	font-family: 'PT Sans Bold';
	font-size: 30px;
	color: #000000;
}

.container-2-ellipse {
	position: absolute;
	top: 256px;
	left: 272px;
	height: 60px;
	width: 60px;
	color: black;
}

.container-2-text-6 {
	position:absolute;
	top: 268px;
	left: 345px;
	font-size: 24px;
	font-family: 'PT Sans Bold';
	font-weight: 700;
}

.container-2-text-7 {
	position:absolute;
	bottom: 80px;
	left: 280px;
	font-family: 'PT Sans Bold';
	font-size: 24px;
}

.container-2-button_1 {
	position:absolute;
	bottom: 30px;
	left: 230px;
}

.container-2-button-2 {
	position:absolute;
	bottom: 30px;
	right: 230px;
}

.container-3 {
	background-image: url(Images/bg+girl.png); width: 980px; height: 390px;
	margin-top: 65px;
}

.container-3-text-line-1 {
	display: flex;
}

.container-3-text-line-2 {
	display: flex;
}

.container-3-text-1 {
	display: block;
	font-family: 'PT Sans Narrow Bold';
	font-size: 32px;
	font-weight: 700;
	padding-top: 35px;
	padding-left: 42px;
	color: #000000;
}

.container-3-text-2 {
	display: block;
	font-family: 'PT Sans Narrow Bold';
	font-size: 32px;
	font-weight: 700;
	padding-top: 35px;
	margin-left: 3px;
	color: #fc481a;
}

.container-3-text-3 {
	display: block;
	font-family: 'PT Sans Narrow Bold';
	font-size: 32px;
	font-weight: 700;
	padding-top: 30px;
	margin-left: 11px;
	color: #000000;
}

.container-3-text-4 {
	display: block;
	font-family: 'PT Sans Narrow Bold';
	font-size: 32px;
	font-weight: 700;
	padding-top: 35px;
	margin-left: 11px;
	color: #000000;
}

.container-3-text-5 {
	display: block;
	font-family: 'PT Sans Narrow Bold';
	font-size: 32px;
	font-weight: 700;
	padding-top: 20px;
	padding-left: 42px;
	color: #000000;
}

.container-3-text-6 {
	display: block;
	font-family: 'PT Sans Narrow Bold';
	font-size: 32px;
	font-weight: 700;
	padding-top: 20px;
	margin-left: 11px;
	color: #000000;
}

.container-3-text-7 {
	display: block;
	font-family: 'PT Sans Narrow Bold';
	font-size: 32px;
	font-weight: 700;
	padding-top: 20px;
	margin-left: 11px;
	color: #000000;
}

.container-3-text-other {
	margin-top: 30px;
	margin-left: 42px;
	font-family: 'PT Sans Regular';
	font-size: 17px;
}

.container-4-text {
	display: flex;
}

.container-4-main-1 {
	display: flex;
	position: relative;
}

.container-4-main-2 {
	display: flex;
}

.container-4-text-1 {
	font-family: 'PT Sans Bold';
	font-size: 38px;
	font-weight: 700;
	color: #ffffff;
	margin-top: 60px;
	margin-left: 50px;
}

.container-4-text-2 {
	font-family: 'PT Sans Regular';
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 58px;
	margin-left: 13px;
}

.container-4-text-3 {
	font-family: 'PT Sans Regular';
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 58px;
	margin-left: 13px;
}

.container-4-text-4 {
	font-family: 'PT Sans Bold';
	font-size: 38px;
	font-weight: 700;
	color: #ffffff;
	margin-top: 60px;
	margin-left: 13px;
}

.container-4-text-5 {
	font-family: 'PT Sans Bold';
	font-size: 38px;
	font-weight: 700;
	color: #fc481a;
	margin-top: 60px;
}

.container-4-main-img-1 {
	margin-top: 70px;
	margin-left: -50px;
}

.container-4-main-img-2 {
	margin-top: 40px;
	margin-left: -10px;

}

.container-4-main-img-3 {
	margin-top: 40px;
	margin-left: 20px;
}

.container-4-main-img-4 {
	margin-top: 40px;
	margin-left: 20px;
}

.container-4-main-img-5 {
	position: absolute;
	left: 340px;
	top: 305px;
}

.container-4-main-img-6 {
	position: absolute;
	right: 223px;
	top: 305px;
}

.container-4-main-img-7 {
	position: absolute;
	right: 5px;
	top: 305px;
}

.container-4-main-img-8 {
	position: absolute;
	left: 110px;
	bottom: -40px;
}

.container-5 {
	margin-top: 60px;
	margin-left: 10px;
}

@media screen and (max-width: 980px) {
	.wrapper {
		width: 50%;
	}

}
